body {
    background-color: #659dbd;
}

header {
    background-color: #daad86;
    color: #fbeec1;
    padding: 20px;
}

footer {
    background-color: #8d8741;
    color: #fbeec1;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

p.verified {
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

p.verified::after { /* adding checkmark next to verified company */
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('checkmark.png');
    background-size: cover; /* Adjust to control the size of the image */
    margin-right: 5px;
}

button {
    transition: background-color 0.3s ease;
    color: whitesmoke;
    text-decoration-color: #659dbd; 
}

button:hover {
    background-color: #bc986a;
}